html {
    background-color: bisque;
}
body {font-family: 'Courier New', Courier, monospace;}

div {
    color: white;
    background-color:rgb(32, 125, 32);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.image {
    width: 350px;
    height: auto;
    align-items: center;
}

button{
     box-sizing: border-box;
     background-color: orange; 
     color: black;
     font-size: 18px;
    }